* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica;
  padding: 10px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
}

.topnav {
  overflow: hidden;
  background-color: #00487c;
}

.topnav a {
  float: left;
  display: block;
  color: #f1f1f1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #4bb3fd;
  color: black;
}

.column {   
  width: 100%;
}

.imgplaceholder {
  background-color: #4bb3fd;
  width: 100%;
  padding: 20px;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.userinfo {
  background-color: white;
  padding: 10px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  text-align: center;
  background: #00487c;
  vertical-align: baseline;
  color: #f1f1f1;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 400px) {
  .topnav a {
    float: none;
    width: 100%;
  }
}
dl, dt, dd {
  display: block;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 12em;
  margin-right: 0;
  text-align: left;
}
